#loginform {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.blur {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
}
.background {
  background-image: url("../pics/brown-envelope-with-e-mail-sign-blue-background_113966-372.webp");
  background-repeat: no-repeat;
}
/* .SignupForm {
  margin-top: 20px;
  width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #e9b63d;
  background: -webkit-linear-gradient(top left, #e9b63d, #c3b4d5);
  background: -moz-linear-gradient(top left, #e9b63d, #c3b4d5);
  background: linear-gradient(to bottom right, #e9b63d, #c3b4d5);
  border-radius: 16px;
} */
